{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-syntax-top-level-await"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@constants": "./src/constants",
          "@models": "./src/models",
          "@helpers": "./src/helpers",
          "@controllers": "./src/controllers",
          "@routes": "./src/routes/api",
          "@resolvers": "./src/resolvers"
        }
      }
    ],
    ["babel-plugin-add-import-extension", { "extension": "js" }]
  ]
}
